.sinTransacciones{
    text-align: center;
    color: #b0b0b0;
    line-height: 40px;
}
.sinTransacciones_emoji{
    color: #b0b0b0;
    font-size: 40px;
}
.sinTransacciones_titulo{
    color: #b0b0b0;
    margin-top: 15px;
}
.sinTransacciones_texto{
    color: #b0b0b0;
}