.teclado{
    position: absolute;
    left: -100%;
    bottom: 0px;
    width: 100%;
    background-color: blueviolet;
    
}
.pantallaNumeros{
    width: 100%;
    height: 80vh;
    background-color: #111113;
}
.botonNumeros{
    width: 30%;
    height: 20%;
}
.mover{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: blueviolet;

}
.botonNumeros{
    cursor: pointer;
    margin: 2%;
    width: 70px;
    height: 70px;
    border-radius: 500px;
}
.subir{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #313131;
    color: #E4E4E4E4;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.teclado_nombre{
    background-color: transparent;
    color: #E4E4E4;
    font-size: 20px;
    border-radius: 50px;
    width: 40%;
    height: 5vh;
    padding-left: 5px;
}
.teclado_gasto{
    color: #E4E4E4;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.enter{
    cursor: pointer;
    height: 40px;
    width: 150px;
    border-radius: 50px;
    background-color: #00a8e8;
    color: #E4E4E4;

    font-size: 25px;

}
.pantallaNumeros_ordenadores{
    display: flex;
    flex-direction: row;

    justify-content: center;
}
.sobre{
    background-color: #111113;
    color: #E4E4E4E4;
    border: 1px #313131 solid;

    font-size: 45px;
}
.sobre:focus{
    animation-name: pulsacion;
    animation-duration: 0.65s;
}
@keyframes pulsacion {
    from {
        background-color: #313131;
    }
    to {
        background-color: #111113;
    }
}