.botonAgregar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    left: 50%;
    bottom: 5px;
    cursor: pointer;

    font-size: 35px;
    background: linear-gradient(90deg,rgb(122, 97, 215) 0%, rgb(164, 150, 215) 65%, white 100%);
    color: white;

    z-index: 2;
}